{{ define "main" }}
<div class="container">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    
    <div class="gallery-grid">
        {{ $images := .Page.Resources.ByType "image" }}
        {{ range $images }}
        {{ $image := .Resize "800x" }}
        <div class="gallery-item">
            <a href="{{ .RelPermalink }}" data-fancybox="gallery">
                <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}">
            </a>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}