#profile .avatar-circle {
  border-radius: 0 !important;
  width: 500px !important;
  height: 500px !important;
  object-fit: cover !important;
}

#profile .network-icon {
  margin-top: 0.5rem;
}

#profile .portrait-title {
  margin-top: 1rem;
}