#profile .avatar-square {
  border-radius: 0 !important;
  width: 225px !important;
  height: 225px !important;
}

#profile .network-icon {
  margin-top: 0.0rem;
}

#profile .portrait-title {
  margin-top: 1rem;
}

/* Additional selectors to ensure override */
.avatar-square {
  border-radius: 0 !important;
}

.avatar {
  width: 225px !important;
  height: 225px !important;
}