#profile .avatar-circle,
.avatar-circle,
.avatar {
  border-radius: 0 !important;
  width: auto !important; /* Allows the image to use its natural width */
  height: auto !important; /* Allows the image to use its natural height */
  max-width: 100% !important; /* Ensures the image doesn't overflow its container */
  object-fit: cover !important;
  margin-top: -40px !important;
  margin-left: -30px !important;
}

#profile .network-icon {
  margin-top: 0.5rem;
}

#profile .portrait-title {
  margin-top: 1rem;
  clear: both;
}

#profile .col-12.col-lg-8 {
  padding-top: 30px;
}