#profile .avatar-circle,
.avatar-circle,
.avatar {
  border-radius: 0 !important;
  width: 1000px !important;
  height: 100px !important;
  object-fit: cover !important;
  margin-top: -40px !important;
  margin-left: -30px !important;
}

#profile .network-icon {
  margin-top: 0.5rem;
}

#profile .portrait-title {
  margin-top: 1rem;
  clear: both;
}

#profile .col-12.col-lg-8 {
  padding-top: 30px;
}